<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume/CV Design</title>
    <link rel="stylesheet" href="style/CV_style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>
<body>
<div class="d-flex justify-content-center" >
    <a href="../">
        <button class="button"><i class="fas fa-home"></i></button>
    </a>
</div>
<div class="resume">

    <div class="resume_left">
        <div class="resume_profile">
            <img src="assets/image/profile.png" alt="profile_pic">
        </div>
        <div class="resume_content">
            <div class="resume_item resume_info">
                <div class="title">
                    <p class="bold">Rahmat Prastyo</p>
                    <p class="regular">Software Developer</p>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="fas fa-map-signs"></i>
                        </div>
                        <div class="data">
                            Jalan Hibrida 4 <br /> Bengkulu
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="data">
                            082307608170
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="data">
                            rahmatprastyo88 <br /> @gmail.com
                        </div>
                    </li>
                    <li>
<!--                        <div class="icon">-->
<!--                            <i class="fab fa-weebly"></i>-->
<!--                        </div>-->
<!--                        <div class="data">-->
<!--                            www.stephen.com-->
<!--                        </div>-->
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_skills">
                <div class="title">
                    <p class="bold">skill's</p>
                </div>
                <ul>
                    <li>
                        <div class="skill_name">
                            Java
                        </div>
                        <div class="skill_progress">
                            <span style="width: 70%;"></span>
                        </div>
                        <div class="skill_per">70%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            PHP
                        </div>
                        <div class="skill_progress">
                            <span style="width: 60%;"></span>
                        </div>
                        <div class="skill_per">60%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            Automation Testing
                        </div>
                        <div class="skill_progress">
                            <span style="width: 80%;"></span>
                        </div>
                        <div class="skill_per">80%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            SQL
                        </div>
                        <div class="skill_progress">
                            <span style="width: 80%;"></span>
                        </div>
                        <div class="skill_per">80%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            Android Kotlin
                        </div>
                        <div class="skill_progress">
                            <span style="width: 30%;"></span>
                        </div>
                        <div class="skill_per">30%</div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_social">
                <div class="title">
                    <p class="bold">Social</p>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="fab fa-linkedin"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Linkedin</p>
                            <a href="https://www.linkedin.com/in/rahmatprastyo1996/">rahmatprastyo1996</a>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Facebook</p>
                            <a href="https://www.facebook.com/rahmatprastyo1996">rahmatprastyo1996</a>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fab fa-instagram-square"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Instagram</p>
                            <a href="https://www.instagram.com/rahmatprastyo1996/">rahmatprastyo1996</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="resume_right">
        <div class="resume_item resume_about">
            <div class="title">
                <p class="bold">Curriculum Vitae</p>
            </div>
            <p>I am very interested in working as an application development. I can work alone or with a team. My dream is to become a professional software engineerr.</p>
        </div>
        <div class="resume_item resume_work">
            <div class="title">
                <p class="bold">Work Experience</p>
            </div>
            <ul>
                <li>
                    <div class="semi-bold-super">PT.PLN Kantor Pusat</div>
                    <div class="date">01/2019 - 04/2019</div>
                    <div class="info">
                        <p class="semi-bold"> IT Internship</p>
                        <p class="task"> &nbsp; &nbsp; Task : </p>
                        <p class="task"> &nbsp; &nbsp; &nbsp; 1. Creating a web application "Tugas Belajar" using PHP</p>
                    </div>

                </li>
                <li>
                    <div class="semi-bold-super">PT.Xsis Mitra Utama</div>
                    <div class="date">01/2020 - 10/2022</div>
                    <div class="info">
                        <p class="semi-bold"> Software Enginering</p>
                        <p class="task"> &nbsp; &nbsp; Task : </p>
                        <p class="task"> &nbsp; &nbsp; &nbsp; 1. Beckend Developer using java Spring Boot</p>
                        <p class="task"> &nbsp; &nbsp; &nbsp; 2. Placed on the client PT Solusi Konvergen Indonesia</p>
                    </div>
                </li>
                <li>
                    <div class="semi-bold-super">PT Solusi Konvergen Indonesia (Project XSIS)</div>
                    <div class="date">08/2020 - 10/2022</div>
                    <div class="info">
                        <p class="semi-bold">Quality Assurance Engineer</p>
                        <p class="task"> &nbsp; &nbsp; Task : </p>
                        <p class="task"> &nbsp; &nbsp; &nbsp; 1. Testing Project Pijar Sekolah</p>
                        <p class="task"> &nbsp; &nbsp; &nbsp; 2. Automation Testing Project Pijar Corpu using Katalon</p>
                        <p class="task"> &nbsp; &nbsp; &nbsp; 3. Load & Stress Testing product Pijar using Jmeter</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_education">
            <div class="title">
                <p class="bold">Education</p>
            </div>
            <ul>
                <li>
                    <div class="date">2012 - 2015</div>
                    <div class="info">
                        <p class="semi-bold">SMK Negeri 02 Kota Bengkulu</p>
                        <p>Jurusan Teknik Elektonika</p>
                    </div>
                </li>
                <li>
                    <div class="date">2015 - 2019</div>
                    <div class="info">
                        <p class="semi-bold">Sekolah Tinggi Teknik - PLN</p>
                        <p>S1 - Teknik Informatika</p>
                    </div>
                </li>
                <li>
                    <div class="date">2022 - Present</div>
                    <div class="info">
                        <p class="semi-bold">Universitas Amikom Yogyakarta</p>
                        <p>S2 - Teknik Informatika</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_hobby">
            <div class="title">
                <p class="bold">Hobby</p>
            </div>
            <ul>
                <li><i class="fas fa-laptop"></i></li>
                <li><i class="fas fa-gamepad"></i></li>
                <li><i class="fas fa-music"></i></li>
                <li><i class="fas fa-plane"></i></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>